<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="iai_gripper_body_v0" params="parent *joint_origin">
    <joint name="iai_gripper_link_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="iai_gripper_body_link"/>
    </joint>

    <link name="iai_gripper_body_link">
      <visual>
	      <geometry>
	        <mesh filename="package://iai_gripper_description/meshes/DAE/iai_gripper_body.dae"/>
	      </geometry>
      </visual>
      <collision>
	      <geometry>
	        <mesh filename="package://iai_gripper_description/meshes/STL/iai_gripper_body.stl"/>
	      </geometry>
      </collision>
      <inertial>
	      <origin xyz="0 0 0"/>
	      <mass value="0.968"/>
	      <inertia ixx="0.002" ixy="0.0" ixz="0.0" iyy="0.003" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
  </xacro:macro>

</robot>
