<?xml version="1.0"?>
<robot name="kinectv2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find denso_descriptions)/kinectv2_description/kinectv2.urdf.xacro"/>
  <xacro:include filename="$(find denso_gazebo)/urdf/sensors/kinectv2.gazebo.xacro"/>

  <xacro:arg name="sensor_frame" default="kinect2"/>
  <xacro:arg name="sensor_parent_frame" default="world"/>
  <xacro:arg name="x" default="0.0" />
  <xacro:arg name="y" default="0.0" />
  <xacro:arg name="z" default="1.0" />
  <xacro:arg name="roll" default="0.0" />
  <xacro:arg name="pitch" default="+${M_PI/2}" />
  <xacro:arg name="yaw" default="0.0" />

  <link name="$(arg sensor_parent_frame)"/>

  <xacro:kinect2_link_box_v0 name="$(arg sensor_frame)_link"/>
  <link name="$(arg sensor_frame)_rgb_optical_frame"/>

  <joint name="joint_$(arg sensor_frame)" type="fixed">
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
    <parent link="$(arg sensor_parent_frame)"/>
    <child link="$(arg sensor_frame)_link"/>
  </joint>

  <joint name="joint_rgb_$(arg sensor_frame)" type="fixed">
    <origin rpy="${M_PI/2} ${M_PI} ${M_PI/2}"/>
    <parent link="$(arg sensor_frame)_link"/>
    <child link="$(arg sensor_frame)_rgb_optical_frame"/>
  </joint>

  <xacro:kinect_gazebo name="$(arg sensor_frame)"/>
</robot>