<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find iai_gripper_gazebo)/urdf/iai_gripper_body.gazebo.macro.xacro"/>
  <xacro:include filename="$(find iai_gripper_gazebo)/urdf/iai_gripper_finger.gazebo.macro.xacro"/>

  <xacro:iai_gripper_finger_gazebo_v0 suffix="A"/>
  <xacro:iai_gripper_finger_gazebo_v0 suffix="B"/>
  <xacro:iai_gripper_body_gazebo_v0 />

</robot>
