<?xml version="1.0"?>
<launch>
    <arg name="instance_topic_name" default="kansei_pub"/>
    <arg name="dummy_topic_name" default="instance_pub"/>
    <arg name="frame_id" default="photoneo_center_optical_frame"/>
    
    <node pkg="estimator" type="color_pointcloud" name="color_pointcloud" output="screen">
        <param name="instance_topic_name" value="$(arg instance_topic_name)"/>
        <param name="dummy_topic_name" value="$(arg dummy_topic_name)"/>
        <param name="frame_id" value="$(arg frame_id)"/>
    </node>
</launch>