<launch>
  <include file="$(find denso_gazebo)/launch/vs087/vs087_and_kinectv2_gazebo.launch"/>
  <include file="$(find ar_marker_urdf)/launch/spawn_ar_marker_cube_gazebo.launch">
    <arg name="id" default="00"/>
    <arg name="x" default="0.5675" />
    <arg name="y" default="-0.2975"/>
    <arg name="z" default="0.03"   />
  </include>
  <include file="$(find ar_marker_urdf)/launch/spawn_ar_marker_cube_gazebo.launch">
    <arg name="id" default="02"/>
    <arg name="x" default="0.0675" />
    <arg name="y" default="-0.2975"/>
    <arg name="z" default="0.03"   />
  </include>
  <include file="$(find ar_marker_urdf)/launch/spawn_ar_marker_cube_gazebo.launch">
    <arg name="id" default="03"/>
    <arg name="x" default="0.0675" />
    <arg name="y" default="0.2975"/>
    <arg name="z" default="0.03"   />
  </include>
  <include file="$(find ar_marker_urdf)/launch/spawn_ar_marker_cube_gazebo.launch">
    <arg name="id" default="05"/>
    <arg name="x" default="0.5675" />
    <arg name="y" default="0.2975"/>
    <arg name="z" default="0.03"   />
  </include>
  <include file="$(find ar_marker_urdf)/launch/detect_ar_marker.launch"/>
</launch>
