<?xml version="1.0"?>
<launch>
  <!-- the "sim" argument controls whet
  her we connect to a Simulated or Real robot -->
  <!--  - if sim=false, a ip_address argument is required -->
  <arg name="sim" default="true" />
  <arg name="ip_address" default="192.168.1.21" />

  <!-- Load defferent move_group.launch file -->
  <arg name="move_group_launch_file" default="move_group.launch" />

  <!-- If you want to change send and recieve format of denso_control, -->
  <!-- you can specify the send_format and recv_format parameters -->
  <arg name="send_format" default="288" />
  <arg name="recv_format" default="290" />

  <!-- Choose robot options -->
  <arg name="robot_name" default="vs087" />
  <arg name="robot_options" default="vs087" />
  <arg name="sensor_config" default="photoneo" />

  <!-- Use custom RobotHWSim? -->
  <arg name="use_custom_ros_control" default="false" />

  <!-- Define the motion planner we want to use (ompl or stomp) -->
  <arg name="planner" default="ompl" />

  <group if="$(arg sim)">
    <!-- denso_bringup.launch -->
    <include file="$(find denso_bringup)/launch/denso_bringup.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="sim" value="$(arg sim)"/>
      <arg name="move_group_launch_file" default="move_group_sim.launch" />
      <arg name="robot_options" value="$(arg robot_options)"/>
      <arg name="sensor_config" value="$(arg sensor_config)"/>
      <arg name="ip_address" value="$(arg ip_address)"/>
      <arg name="send_format" value="$(arg send_format)" />
      <arg name="recv_format" value="$(arg recv_format)" />
      <arg name="planner" value="$(arg planner)" />
      <arg name="use_custom_ros_control" value="$(arg use_custom_ros_control)" />
    </include>
  </group>

  <group unless="$(arg sim)">
    <!-- denso_bringup.launch -->
    <include file="$(find denso_bringup)/launch/denso_bringup.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="move_group_launch_file" value="$(arg move_group_launch_file)"/>
      <arg name="sim" value="$(arg sim)"/>
      <arg name="robot_options" value="$(arg robot_options)"/>
      <arg name="sensor_config" value="$(arg sensor_config)"/>
      <arg name="ip_address" value="$(arg ip_address)"/>
      <arg name="send_format" value="$(arg send_format)" />
      <arg name="recv_format" value="$(arg recv_format)" />
      <arg name="planner" value="$(arg planner)" />
    </include>
  </group>

  <!-- photoneo_sensor: "photoneo_center" -->
<!--   <node name="from_world_to_photoneo_center_static_tf" pkg="tf" type="static_transform_publisher" args="1.1114 0.255 0.96 -2.9419 0.5721 0.1193 world photoneo_center 50" />
  <node pkg="sensor_frame_broadcaster" type="sensor_frame_broadcaster.py" name="photoneo_center_frame" output="screen">
    <param name="sensor_name" type="str" value="photoneo_center" />
  </node>


 -->  <!-- measure pose broadcaster -->
  <node pkg="pose_estimator_measure" name="grand_truth_broadcaster" type="grand_truth_broadcaster.py" output="screen" />

  <!--include file="$(find phoxi_bringup)/launch/phoxi_bringup.launch" /-->

</launch>
