<?xml version="1.0"?>
<robot name="tercero" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find tercero_description)/urdf/hand_body/hand_body.urdf.xacro"/>
  <xacro:include filename="$(find tercero_description)/urdf/finger/finger.urdf.xacro"/>
  <xacro:include filename="$(find tercero_description)/urdf/third_finger/third_finger.urdf.xacro"/>
  <xacro:include filename="$(find tercero_description)/urdf/common.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- hand_body -->
  <link name="hand_link"/>

  <xacro:hand_body_v0 parent="hand_link" use_gripper_cover="false">
    <origin xyz="0 0 0" rpy="0 ${M_PI} ${M_PI}"/>
  </xacro:hand_body_v0>

  <!-- finger -->
  <xacro:finger_v0 suffix="R" finger_type="f1_short" parent="hand_body_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </xacro:finger_v0>

  <xacro:finger_v0 suffix="L" finger_type="f2_short" parent="hand_body_link">
    <origin xyz="0 0 0" rpy="0 0 ${M_PI}"/>
    <axis xyz="0 1 0"/>
  </xacro:finger_v0>

  <!-- third finger -->
  <xacro:third_finger_v0 suffix="3rd" parent="hand_body_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 -1"/>
  </xacro:third_finger_v0>

</robot>
