<?xml version="1.0"?>
<robot name="mhand2" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mhand_description)/urdf/mhand_body/mhand2_body.urdf.xacro"/>
  <xacro:include filename="$(find mhand_description)/urdf/mhand_finger/mhand_finger.urdf.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- mhand_body -->
  <link name="hand_link"/>

  <xacro:mhand_body_v0 parent="hand_link">
    <origin xyz="0 0 0"/>
  </xacro:mhand_body_v0>

  <!-- mhand_finger -->
  <xacro:mhand_finger_v0 suffix="A" parent="mhand_body_link">
    <origin xyz="-0.011 0.019 0.135" rpy="3.14 -1.57 2.09"/>
    <axis xyz="0 1 0"/>
  </xacro:mhand_finger_v0>

  <xacro:mhand_finger_v0 suffix="B" parent="mhand_body_link">
    <origin xyz="-0.007 -0.029 0.135" rpy="3.14 -1.57 -1.05"/>
    <axis xyz="0 1 0"/>
  </xacro:mhand_finger_v0>

  <xacro:mhand_finger_v0 suffix="C" parent="mhand_body_link">
    <origin xyz="0.028 -0.009 0.135" rpy="3.14 -1.57 -1.05"/>
    <axis xyz="0 1 0"/>
  </xacro:mhand_finger_v0>

</robot>
