<?xml version="1.0"?>
<robot name="cardboard" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find bayes_pose)/model/common/common.xacro" />

  <xacro:arg name="id" default="00"/>

  <link name="hv8_link_$(arg id)">
    <visual>
      <!-- <origin xyz="0 0 0" rpy="0 0 -${M_PI/2}" /> -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://bayes_pose/model/meshes/STL/N_HV8.stl" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <!-- <origin xyz="0 0 0" rpy="0 0 -${M_PI/2}" /> -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://bayes_pose/model/meshes/STL/N_HV8.stl" />
      </geometry>
    </collision>
    <inertial>
      <!-- <xacro:box_inertial mass="0.1" height="0.06" width="0.06" depth="0.06"> -->
        <!-- <origin xyz="0 0 0" rpy="0 0 -${M_PI/2}" /> -->
      <!--   <origin xyz="0 0 0" rpy="0 0 0" /> -->
      <!-- </xacro:box_inertial>                -->
      <origin xyz="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="0.002" ixy="0.0" ixz="0.0" iyy="0.002" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>

</robot>
