<?xml version="1.0"?>
<robot name="vs087" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- File Include -->
  <xacro:include filename="$(find denso_descriptions)/vs087_description/vs087/vs087.urdf.xacro"/>
  <xacro:include filename="$(find denso_descriptions)/phoxi_camera_description/phoxi_camera.urdf.xacro"/>
  <xacro:include filename="$(find denso_descriptions)/common_description/common.xacro"/>

  <xacro:phoxi_camera_v0 size="L" sensor_parent_link_name="base_link" sensor_link_name="photoneo_center">
    <origin xyz="1.447 0.02 1.243" rpy="0 ${M_PI/4} ${M_PI}" />
  </xacro:phoxi_camera_v0>

</robot>
