<?xml version="1.0"?>
<launch>
  <include file="$(find pointcloud_processing)/launch/crop_cloud.launch">
    <arg name="loop_rate" value="60" />
    <arg name="crop_x_min" value="0.0" />
    <arg name="crop_x_max" value="0.65" />
    <arg name="crop_y_min" value="-0.5" />
    <arg name="crop_y_max" value="0.5" />
    <arg name="crop_z_min" value="0.007" />
    <arg name="crop_z_max" value="1.0" />
    <arg name="crop_pc_src" value="/photoneo_center/pointcloud" />
    <arg name="crop_pc_dst" value="/cropped_cloud" />
    <arg name="use_rgb" value="false" />
    <arg name="crop_frame_id" value="world" />
  </include>
</launch>
