<?xml version="1.0"?>
<robot name="iai_gripper" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find iai_gripper_description)/urdf/iai_gripper_body/iai_gripper_body.urdf.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- iai_gripper_body -->
  <link name="hand_link"/>

  <xacro:iai_gripper_body_v0 parent="hand_link">
    <origin xyz="0.003 -0.0025 0" rpy="-1.57 0 -1.57"/>
  </xacro:iai_gripper_body_v0>

  <!-- iai_gripper_finger -->
  <xacro:include filename="$(find iai_gripper_description)/urdf/iai_gripper_finger/iai_gripper_finger.urdf.xacro"/>

  <xacro:iai_gripper_finger_v0 suffix="A" parent="iai_gripper_body_link">
    <origin xyz="0.02 -0.111 0" rpy="0 3.14 3.14"/>
    <axis xyz="1 0 0"/>
  </xacro:iai_gripper_finger_v0>

  <xacro:iai_gripper_finger_v0 suffix="B" parent="iai_gripper_body_link">
    <origin xyz="-0.02 -0.111 0" rpy="0 0 3.14"/>
    <axis xyz="1 0 0"/>
  </xacro:iai_gripper_finger_v0>

</robot>
