<?xml version="1.0"?>
<launch>
    <arg name="index" default="2"/>
    
    <arg name="path" default="/home/ericlab/ros_package/denso_ws/src/denso_run/rikuken_original/annotation_package/dataset/instance_try_8_6_23_49.hdf5"/>
    <arg name="annotation_swicth" default="true"/>

    <group if="$(arg annotation_swicth)">
        <node pkg="annotation_package" type="pcd_sava_from_hdf5.py" name="pcd_sava_from_hdf5" output="screen">
        <param name="index" value="$(arg index)"/>
        <param name="path" value="$(arg path)"/>
        </node>    
    </group>

    <group unless="$(arg annotation_swicth)"> 
        <node pkg="annotation_package" type="pcd_save_from_hdf5_ishiyama.py" name="pcd_sava_from_hdf5" output="screen">
        <param name="index" value="$(arg index)"/>
        <param name="path" value="$(arg path)"/>
        </node>    
    </group>
    
</launch>