<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mhand_gazebo)/urdf/mhand_finger.gazebo.macro.xacro"/>
  <xacro:include filename="$(find mhand_gazebo)/urdf/mhand_body.gazebo.macro.xacro"/>

  <xacro:mhand_finger_gazebo suffix="A"/>
  <xacro:mhand_finger_gazebo suffix="B"/>
  <xacro:mhand_finger_gazebo suffix="C"/>

  <xacro:mhand_body_gazebo_v0 />

</robot>
