<?xml version="1.0"?>
<robot name="mhand" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mhand_description)/robots/mhand.urdf.xacro"/>
  <xacro:include filename="$(find mhand_gazebo)/robots/mhand.gazebo.xacro"/>
  <xacro:include filename="$(find mhand_gazebo)/robots/mhand.gazebo.macro.xacro"/>

  <xacro:gazebo_ros_control robot_name="mhand"/>

  <link name="world" />
  <joint name="joint_w" type="fixed">
    <parent link="world"/>
    <child link="hand_link"/>
  </joint>
</robot>
