<?xml version="1.0"?>
<launch>
    <arg name="pcd_dir_name" default="/home/ericlab/ros_package/denso_ws/src/denso_run/rikuken_original/annotation_package/pcd/"/>
    <arg name="sensor_topic_name" default="all_cloud"/>
    
    <node pkg="annotation_package" type="color_cloud_save" name="color_cloud_save" output="screen">
        <param name="pcd_dir_name" value="$(arg pcd_dir_name)"/>
        <param name="sensor_topic_name" value="$(arg sensor_topic_name)"/>
    </node>
</launch>