<?xml version="1.0"?>
<robot name="teaching_booth_with_kinectv2" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find denso_descriptions)/common_description/common.xacro" />
  <xacro:include filename="$(find denso_descriptions)/kinectv2_description/kinectv2.urdf.xacro"/>

  <link name="world"/>

  <!-- add Kinect V2 -->
  <!-- kinect_head -->
  <!-- Link -->
  <xacro:kinect2_link_box_v0 name="kinect_head"/>
  <link name="kinect_head_rgb_optical_frame"/>

  <!-- Joint -->
  <joint name="joint_kinect_head" type="fixed">
    <!-- <origin xyz="0.15 0 0.916" rpy="0 ${M_PI/2} 0"/> -->
    <origin xyz="-0.4027 -0.1652 0.7161" rpy="0.0052 1.008 0.0191" />
    <parent link="world"/>
    <child link="kinect_head"/>
  </joint>

  <joint name="joint_rgb_kinect_head" type="fixed">
    <origin rpy="${M_PI/2} ${M_PI} ${M_PI/2}"/>
    <parent link="kinect_head"/>
    <child link="kinect_head_rgb_optical_frame"/>
  </joint>

</robot>
